body {
  font: 13px tahoma;
  color: #7f8c8d;
}

.axis text {
  font: 11px sans-serif;
}

.axis path {
  display: none;
}

#slider { 
	margin: 10px;
	align: center; }

.left {
    width: 30%;
    float: left;
    text-align: right;
}
.right {
    width: 65%;
    margin-left: 10px;
    float:left;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.filter{
  clear:left;
  height:25px;
  margin: 20px;
}